body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Domine';
}

.form-container {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
}

form, form .inputs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


form .input-container {
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    column-gap: 6px;
}

#wrappermain{
    display: grid;
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-rows: 20fr 5fr 60fr 35fr;
    grid-template-areas:
            "hd"
            "nv"
            "st"
            "ft";
    }

header{
    grid-area: hd;
    display: flex; 
    justify-content: center;
    background-color: black;
    color: white
}

section {
    grid-area: st;
    background-color: rgb(74, 123, 139);
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    
}

nav{
    grid-area: nv;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    grid-area: ft;
    background-color: rgb(2, 2, 43);
}


/* Div där funktionerna ska sitta. */
.u_box {
    background-color: blueviolet;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between; /* Ensures consistent spacing */
}

.boxen {
    padding: 16px;
    width: calc(33.33% - 16px); /* Adjust to fit 3 per row, accounting for gap */
    background-color: brown;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}


@media screen and (max-width:768px) {
    /* kod för mobil */
    form {
        flex-direction: column;
        justify-content: left;
        width: 80%;
    }

    form .input-container {
        margin: 0;
    }

    form .inputs-container {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        margin-bottom: 16px;
    }

    /* wrapper sida 1 */
    #wrappermain {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-areas:
            "hd"
            "nv"
            "st"
            "ft";
        grid-template-rows: 0.3fr 0.1fr 2fr 1fr;
    }
    header {
        grid-area: hd;
        display: flex;
        justify-content: space-between;
        background-color: black;
    }

    section {
        grid-area: st;
        background-color: rgb(74, 123, 139);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3px;
    }



    footer {
        grid-area: ft;
        background-color: rgb(2, 2, 43);
    }

    nav {
        grid-area: nv;
        background-color: lightblue;
        display: flex;
        flex-direction: row;
    }

    .u_box {
        flex-direction: column;
        width: 80%;
        gap: 16px;
    }

    .boxen {
        width: 100%;
    }

}
